@model IEnumerable<MvcMusicStore.Models.Music>
@{
    ViewBag.Title = "音乐商店";
}
<p>@Html.ActionLink("创建音乐", "Create", "music")</p>
<div class="content">
    <div class="content-music">
        <p class="content-title">歌曲</p>
        <table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@Html.DisplayFor(modelItem => item.MusicName).ToString(), "play", new { id = item.MusicID })
                    </td>
                    <td>
                        @Html.ActionLink("下载", "download") |
                        @Html.ActionLink("编辑", "Edit", "music", new { id = item.MusicID }, null) |
                        @Html.ActionLink("详情", "Details", "music", new { id = item.MusicID }, null) |
                        @Html.ActionLink("删除", "Delete", "music", new { id = item.MusicID }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
